.padding-left-right-20{
    padding:0 20px;
}
.pad-left-30{
    padding-left:30px;
}
.padding-left-right-0{
    padding-left:0px;
    padding-right:0px;
}
.btn-width-160{
    width:160px;
}
.padding-bottom-5{
    padding-bottom:5px;
}
.padding-bottom-10{
    padding-bottom:10px;
}
.btn-backgroundColor-cinder{
    background-color:#222d32;
}
.btn-backgroundColor-cinder:hover{
    background-color:#222d32;
}
.margin-left-right-15{
    margin:0px 15px;
}
.pad-right0-pad-right-15{
    padding-right:0px;
    padding-left:15px;
}
.border-top-bottom-tableDiv{
    border-top: 1px solid #222d32;
    border-bottom: 1px solid #222d32;
}
.bold-font{
    font-weight: bold;
}
.padding-top-bottom-5{
    padding:5px 0px;
}
.border-bottom-table{
    border-bottom:1px solid #d2d6de;
}
.margin-bottom-5{
    margin-bottom:5px;
}
.padding-top5-bottom20{
    padding:5px 0px 20px 0px;
}
.padding-right-left-15{
    padding:0px 15px;
}
.divBorder{
    border:1px solid #f4f4f4;
    border-radius:5px;
}
.padding-top-bottom10{
    padding:10px 0px;
}
.paddingtopBottom10-leftRight15{
    padding:10px 15px;
}
.text-align_center{
    text-align:center;
}
.text-color-white{
    color:#fff !important;
}
.btn-color-requested{
    background-color:#3c8dbc !important;
}
.btn-color-processing{
    background-color:#00c0ef !important;
}
.btn-color-partialApproval{
    background-color:#f39c12 !important;
}
.btn-color-approved{
    background-color:#00a65a !important;
}
.margin-left-5{
    margin-left:5px !important;
}
.box.box-info {
    border-top-color: #00c0ef;
}
.btn-cancel {
    background-color: #dd4b39;
    padding: 4px 20px;
    border-color: #d73925;
}
.mar-left50-right50{
    margin-left:50px;
    margin-right:50px;
}
.border-radius-modalBottom{
    border-radius:20px 20px 15px 15px;
}
.modalHeaderStyle{
    padding-top: 10px;
    padding-bottom: 10px;
    background: #222d32;
    color: #fff;
    border-radius: 15px 15px 0px 0px;
}
.left15{
    left:15px;
}
.width-100{
    width:100px;
}

