
@{
    ViewBag.Title = "LeaveTransaction";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var messageType_Success = @Convert.ToInt16((LMS_WebAPP_Utils.MessageType.Success));
}
@using EmployeeLeaveManagementApp.Content.Resources
<link href="~/plugins/Toastr/toastr.css" rel="stylesheet" />
<link rel="stylesheet" href="~/plugins/datatables/dataTables.bootstrap.css">
<link rel="stylesheet" href="~/plugins/iCheck/all.css">
<link rel="stylesheet" href="../../plugins/select2/select2.min.css">
<link href="~/Content/Style.css" rel="stylesheet" />
<!-- Content Wrapper. Contains page content -->
<section class="content-header" style="height:41px">
    <h1 class="col-md-9" style="padding-left:0px">
        Change Password
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                    <!-- form start -->
                    <form role="form">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="currentPassword">Current Password <span style="color:red">*</span><span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divCurrentPasswordError">
                                        <label style="margin-bottom: 0px;" class="control-label" for="CurrentPassword">
                                        <i class="fa fa-times-circle-o"></i> Please enter current password
                                        </label>
                                 </span><span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divInvalidCurrentPasswordError">
                                 <label style="margin-bottom: 0px;" class="control-label" for="InvalidCurrentPassword">
                                 <i class="fa fa-times-circle-o"></i> Invalid password
                                 </label>
                                 </span></label>
                                <input type="password" class="form-control" id="txt_currentPassword" placeholder="Enter current password">
                            </div>
                            <div class="form-group">
                                <label for="newPassword">New Password <span style="color:red">*</span><span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divNewPasswordError">
                                       <label style="margin-bottom: 0px;" class="control-label" for="NewPassword">
                                       <i class="fa fa-times-circle-o"></i> Please enter new password
                                       </label>
                                </span>
                                <span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divNewPasswordLengthError">
                                        <label style="margin-bottom: 0px;" class="control-label" for="NewPasswordLength">
                                            <i class="fa fa-times-circle-o"></i>please enter new password between 6-15 characters
                                        </label>
                                </span></label>
                                <input type="password" class="form-control" id="txt_newPassword" placeholder="Enter new password">
                            </div>
                            <div class="form-group">
                                <label for="confirmNewPassword">Re-Type New Password <span style="color:red">*</span><span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divConfirmNewPasswordError">
                                 <label style="margin-bottom: 0px;" class="control-label" for="ConfirmNewPassword">
                                 <i class="fa fa-times-circle-o"></i> Please enter confirm new password
                                </label>
                            </span><span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divConfirmPasswordNotSameError">
                            <label style="margin-bottom: 0px;" class="control-label" for="ConfirmPasswordNotSame">
                            <i class="fa fa-times-circle-o"></i>New password and re-typed password are not same
                            </label>
                            </span></label>
                                <input type="password" class="form-control" id="txt_confirmNewPassword" placeholder="Enter new password">
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="button" id="btn_changePassword" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    <!-- /.row -->
</section>
<!-- /.content -->
<!-- ./wrapper -->
<!-- DataTables -->
<!-- page script -->
<script src="~/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="~/plugins/iCheck/icheck.min.js"></script>
<script src="~/Content/Scripts/Common.js"></script>
<script src="~/plugins/Toastr/toastr.js"></script>
<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="../../plugins/select2/select2.full.min.js"></script>
<script>
    $(document).on('click', '#btn_changePassword', function (e) {
        if ($("#txt_currentPassword").val() == "" && $("#txt_newPassword").val() == "" && $("#txt_confirmNewPassword").val() == "") {
            $("#divCurrentPasswordError").show();
            $("#divNewPasswordError").show();
            $("#divConfirmNewPasswordError").show();
            $("#txt_currentPassword").focus();
            return false;
        }
        if ($("#txt_newPassword").val() == "" && $("#txt_confirmNewPassword").val() == "") {
            $("#divNewPasswordError").show();
            $("#divConfirmNewPasswordError").show();
            $("#txt_newPassword").focus();
            return false;
        }
        if ($("#txt_currentPassword").val() == "") {
            $("#divCurrentPasswordError").show();
            $("#txt_currentPassword").focus();
            return false;
        }
        if ($("#txt_newPassword").val() == "") {
            $("#divNewPasswordError").show();
            $("#txt_newPassword").focus();
            return false;
        }
        if ($("#txt_confirmNewPassword").val() == "") {
            $("#divConfirmNewPasswordError").show();
            $("#txt_confirmNewPassword").focus();
            return false;
        }
        if ($("#txt_newPassword").val().length < 6 || $("#txt_newPassword").val().length > 15) {
            $("#divNewPasswordError").hide();
            $("#divNewPasswordLengthError").show();
            $("#txt_newPassword").focus();
            return false;
        }
        if ($("#txt_newPassword").val() != $("#txt_confirmNewPassword").val()) {
            $("#divConfirmNewPasswordError").hide();
            $("#divConfirmPasswordNotSameError").show();
            $("#txt_confirmNewPassword").focus();
            return false;
        }
        
        var currentPassword = $("#txt_currentPassword").val();
        var newPassword = $("#txt_newPassword").val();
        $.ajax({
            cache: false,
            type: 'get',
            url: '/ChangePassword/CheckEmployeePassword',
            data: { currentPassword: currentPassword },
            contentType: "application/json",
            success: function (data) {
                if(data=="True")
                {

                    $("#Loading").show();
                    $('#divInvalidCurrentPasswordError').hide();
                    $.ajax({
                        cache: false,
                        type: 'get',
                        url: '/ChangePassword/EditEmployeePassword',
                        data: { newPassword: newPassword },
                        contentType: "application/json",
                        success: function (data) {
                            showMessage("@MessageResources.Msg_PasswordChanged", "@messageType_Success", true);
                            $("#txt_currentPassword").val("");
                            $("#txt_newPassword").val("");
                            $("#txt_confirmNewPassword").val("");
                            $("#Loading").hide();
                        }
                    });

                   
                }
                else
                {
                          
                    $("#divInvalidCurrentPasswordError").show();
                    $("#txt_currentPassword").focus();
                    return false;
                            }

                        }

                    });
    })

    $("#txt_currentPassword").keypress(function (e) {
        $('#divCurrentPasswordError').hide();
        $("#divInvalidCurrentPasswordError").hide();

    });
    $("#txt_newPassword").keypress(function (e) {
        $('#divNewPasswordError').hide();
        $("#divNewPasswordLengthError").hide();
    });
    $("#txt_confirmNewPassword").keypress(function (e) {
        $('#divConfirmNewPasswordError').hide();
        $("#divConfirmPasswordNotSameError").hide();
    });
</script>