@using LMS_WebAPP_Utils
@{
    ViewBag.Title = "ResourceLoad";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var managerId = ((LMS_WebAPP_Domain.UserAccount)Session[Constants.SESSION_OBJ_USER]) != null ? ((LMS_WebAPP_Domain.UserAccount)Session[Constants.SESSION_OBJ_USER]).RefEmployeeId : 0;
         var imagepath = "/Content/Images/DefaultImage.png";
}
<style>
    .users-list > li {
  width: 15%;
  float: left;
  padding: 10px;
  text-align: center;
}
.users-list > li img {
  border-radius: 75%;
  max-width: 44%;
  height: 72px;
}
</style>
<link href="~/plugins/Toastr/toastr.css" rel="stylesheet" />
  <!-- Select2 -->
<link rel="stylesheet" href="../../plugins/select2/select2.min.css">
<link href="~/Content/Style.css" rel="stylesheet" />
<section class="content-header">
    <h1>Resource Load/Unload</h1>
</section>
<section class="content">
    <div class="row">

        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-success">
                <!-- /.box-header -->
                <!-- form start -->
                @*<form role="form">*@
                <div class="box-body">
                    <div class="form-group col-md-12" id="ddlProject">
                        <div class="col-md-2" style="padding-top:5px">
                            <label>Select Project</label>
                        </div>
                        <div class="col-md-2" style="padding-left:0px;padding-right:0px">
                            <select class="form-control projectSelect" style="width: 100%;" id="ddlProjectName">
                                <option value="">Select</option>
                            </select>
                        </div>
                    </div>
                </div>
                @*</form>*@

            </div>
        </div>

        <!-- /.row -->


        <div class="col-md-12" id="divProjectMembers" style="display:none">
            <div class="box box-success">
                <div class="box-body">
                    @*<div class="col-md-6">*@
                    <!-- USERS LIST -->

                    <div class="box-header with-border">
                        <h3 class="box-title">Projects Members</h3>
                        <div class="box-tools pull-right" title="Add Resource">
                            <button type="button" id="btnAddResource" class="btn btn-block bg-black" style="background-color:#222d32 !important">
                                <i class="fa fa-plus"></i> Add New Resource
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <ul class="users-list clearfix"></ul>
                        <!-- /.users-list -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer text-center">

                    </div>
                    <!-- /.box-footer -->
                    <!--/.box -->
                    @*</div>*@
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal bs-remove-resource-confirmation-modal" id="removeResourceConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Confirmation</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="hidden" id="hdnId" />
                    <label>Are you sure to remove the resource from this project?</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnConfirmRemoveResource" style="background-color:black !important" class="btn btn-primary">Yes</button>
                <button type="button" class="btn btn-default pull-right Close" data-dismiss="modal">No</button>
            </div>

            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<div class="modal bs-add-new-resource-modal" id="addNewResourceModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content border-radius-modalBottom">
            <div class="modal-header modalHeaderStyle">
                <button type="button" class="close text-color-white" data-dismiss="modal" aria-label="Close" id="btn_addnewresource_close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Add New Resource</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">

                    <label>Select Resource <span style="color:red">*</span></label>
                    <select class="form-control employeeSelect" style="width: 100%;" id="ddlEmployeeList"></select>
                </div>
                <div class="form-group has-error" style="display:none" id="divresourceError">
                    <label class="control-label" for="resource">
                        <i class="fa fa-times-circle-o"></i> Please select resource
                    </label>
                </div>
                <div id="divProjectAssigned" style="display:none">
                    <label style="color:red">A project has already been assigned for this resource.Do you wish to continue?</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnAddNewResource" class="btn btn-primary" style="background-color:#222d32 !important">Add</button>
                <button type="button" class="btn btn-default pull-right Close" data-dismiss="modal" id="btn_addnewresource_cancle">Cancel</button>
            </div>

            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<div class="modal bs-add-resource-confirmation-modal" id="addResourceConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Confirmation</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="hidden" id="hdnId" />
                    <label>Are you sure you want to add this resource to this project?</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnConfirmAddNewResource" style="background-color:black !important" class="btn btn-primary">Yes</button>
                <button type="button" class="btn btn-default pull-right Close" id="btnDismissAddConfirmationModal">No</button>
            </div>

            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<script src="../../plugins/Toastr/toastr.js"></script>
<script src="../../plugins/select2/select2.full.min.js"></script>
<script>
    var imagePath='@imagepath';
    $(document).ready(function () {
        $('#resourceLoad').parent().addClass('active');
        GetProjectsList();
        $(".projectSelect").select2();
        $(".employeeSelect").select2();
    })
    $(document).on('click',"#btnDismissAddConfirmationModal",function(){
        $("#addNewResourceModal").modal('show');
        $("#addResourceConfirmationModal").modal("hide");
    });
    function GetProjectsList() {
        var managerId=@managerId;
        $.ajax({
            cache: false,
            type: 'post',
            url: '/HR/GetProjectsList',
            data:{managerId:managerId},
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.data.length; i++) {
                    $("#ddlProjectName").append($('<option></option>').attr("value", data.data[i].Id).text(data.data[i].ProjectName));
                }
            }
        });
    }
    var list=[];
    function GetResourceList() {
        $("#ddlEmployeeList").html("");
        $("#ddlEmployeeList").append($('<option></option>').attr("value", "").text("Select"));

        $.ajax({
            cache: false,
            type: 'post',
            url: '/ResourceRequest/GetResourceList',
            data: {refProject: $("#ddlProjectName").val()},
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    $("#ddlEmployeeList").append($('<option></option>').attr("value", data[i].Id+"|"+data[i].IsActive).text(data[i].FirstName));
                }
            }
        });
    }
    $(document).on('change',"#ddlProjectName",function(){
        var projectId= $("#ddlProjectName").val();
        $("#Loading").show();
        if(projectId!="")
        {
            GetResourceList();
            $("#divProjectMembers").show();
            $.ajax({
                cache: false,
                type: 'post',
                url: '/ResourceRequest/GetProjectMembersList',
                data:{projectId:projectId},
                dataType: "json",
                success: function (result) {
                    var employeeList="";
                    $(".users-list").html("");
                    var imageSrc="";
                    for(var i=0;i<result.length;i++)
                    {
                        if(result[i].ImagePath!="")
                        {
                            imageSrc=result[i].ImagePath;
                        }
                        else {
    imageSrc=imagePath;
                        }
                        employeeList+="<li><button type='button' class='btn btn-box-tool' style='float:right' id='btnRemoveResource' data-id='"+result[i].Id+"'><i class='fa fa-times' title='Remove Resource'></i></button><img src="+imageSrc+" alt='User Image'>"+
                                                 "<a class='users-list-name'>"+result[i].FirstName+"</a>"+
                                                 "<span class=/'users-list-date/'>"+result[i].Role+"</span></li>";
                    }
                    $(".users-list").append(employeeList);
                    $("#Loading").hide();
                }
            });
        }
        else
        {
            $("#divProjectMembers").hide();
        }
    });

    $(document).on('click',"#btnRemoveResource",function(){
        $("#removeResourceConfirmationModal").modal('show');
        var id=$(this).data('id');
        $("#hdnId").val(id);
    })

    $(document).on('click',"#btnAddResource",function(){
        $("#addNewResourceModal").modal('show');
    })

    $(document).on('click',"#btnConfirmRemoveResource",function(){
        var id=   $("#hdnId").val();
        var projectId= $("#ddlProjectName").val();
        $("#Loading").show();
        $.ajax({
            cache: false,
            type: 'post',
            url: '/ResourceRequest/RemoveProjectResource',
            data:{employeeProjectId:id,projectId:projectId},
            dataType: "json",
            success: function (result) {
                $("#removeResourceConfirmationModal").modal('hide');
                var employeeList="";
                $(".users-list").html("");
                var imageSrc="";
                for(var i=0;i<result.length;i++)
                {
                    if(result[i].ImagePath!="")
                    {
                        imageSrc=result[i].ImagePath;
                    }
                    else {
                        imageSrc=imagePath;
                    }
                    employeeList+="<li><button type='button' class='btn btn-box-tool' style='float:right' id='btnRemoveResource' data-id='"+result[i].Id+"'><i class='fa fa-times' title='Remove Resource'></i></button><img src="+imageSrc+" alt='User Image'>"+
                                             "<a class='users-list-name'>"+result[i].FirstName+"</a>"+
                                             "<span class=/'users-list-date/'>"+result[i].Role+"</span></li>";
                }
                $(".users-list").append(employeeList);
                showMessage("Resource removed successfully","1",true);
                GetResourceList();
                $("#Loading").hide();
            }
        });

    })
    $(document).on('click',"#btnConfirmAddNewResource",function(){
        var employeeId=$("#ddlEmployeeList").val().split("|")[0];
        var projectId= $("#ddlProjectName").val();
        $("#Loading").show();
        $.ajax({
            cache: false,
            type: 'post',
            url: '/ResourceRequest/AddNewProjectResource',
            data:{employeeId:employeeId,projectId:projectId},
            dataType: "json",
            success: function (result) {
                $("#addResourceConfirmationModal").modal('hide');
                var employeeList="";
                $(".users-list").html("");
                var imageSrc="";
                for(var i=0;i<result.length;i++)
                {
                    if(result[i].ImagePath!="")
                    {
                        imageSrc=result[i].ImagePath;
                    }
                    else {
                        imageSrc=imagePath;
                    }
                    employeeList+="<li><button type='button' class='btn btn-box-tool' style='float:right' id='btnRemoveResource' data-id='"+result[i].Id+"'><i class='fa fa-times' title='Remove Resource'></i></button><img src="+imageSrc+" alt='User Image'>"+
                                             "<a class='users-list-name'>"+result[i].FirstName+"</a>"+
                                             "<span class=/'users-list-date/'>"+result[i].Role+"</span></li>";
                }
                $(".users-list").append(employeeList);
                showMessage("New Resource added successfully","1",true);
                GetResourceList();
                $("#Loading").hide();
            }
        });
    });

    $(document).on('click',"#btnAddNewResource",function(){
        if ($("#ddlEmployeeList").val() == 0) {
            $("#divresourceError").show();
            return false;
        }
        $("#addNewResourceModal").modal('hide');
        $("#addResourceConfirmationModal").modal("show");
            })

    $(document).on('change',"#ddlEmployeeList",function(){
        $("#divProjectAssigned").hide();
        var employeeId=$("#ddlEmployeeList").val().split("|")[0];
        var isActive=$("#ddlEmployeeList").val().split("|")[1];
        if(isActive=="true")
        {
            $("#divProjectAssigned").show();
        }
    });

    $('#ddlEmployeeList').on('change', function () {
        if ($("#ddlEmployeeList").val() != 0) {
            $("#divresourceError").hide();
        }
        else {
            $("#divresourceError").show();
        }
    });

    $(document).on('click', '#btn_addnewresource_cancle,.close', function (e) {
        $("#divresourceError").hide();
    });
    $(document).on('click', '#btn_addnewresource_close,.close', function (e) {
        $("#divresourceError").hide();
    });
    //function showMessage(message, Type, fadeOut) {
    //    //To clear existing toastr
    //    toastr.clear();
    //    //fadeOut = false;
    //    var position = "bottom-full-width";
    //    toastr.options.positionClass = 'toast-' + position;
    //    if (typeof fadeOut !== "undefined" && fadeOut == false) { toastr.options.timeOut = 0; }
    //    else {
    //        toastr.options.timeOut = 5000;
    //    }
    //    switch (Type) {
    //        case "1":
    //            toastr.success(message);
    //            break;
    //        case "2":
    //            toastr.error(message);
    //            break;
    //    }
    //}

</script>
