

  Alter table [LeaveManagementSystem].[dbo].[EmployeeEmergencyContactDetails] add Country nvarchar(200) , State nvarchar(200), 
  City nvarchar(200) , AddressLine1 nvarchar(MAX) , AddressLine2 nvarchar(MAX)