

  Alter table [LeaveManagementSystem].[dbo].[EmployeeDetails] add Gender nvarchar(20) , PassportNumber nvarchar(200), 
  PencardNumber nvarchar(200) , InfrrdEmailId nvarchar(200) , RefEmployeeContractType int , DateOfConfirmation date