/****** Script for SelectTopNRows command from SSMS  ******/

  Alter table [LeaveManagementSystem].[dbo].[EmployeeLeaveMaster] Add CarryForwardedLeave float
  Alter table [LeaveManagementSystem].[dbo].[EmployeeLeaveMaster] Add AdvanceLeave float