@model IList<LMS_WebAPP_Domain.WorkFromHomeModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dateList = Model.Select(i => i.Date).ToList();
}

<link href="~/plugins/Toastr/toastr.css" rel="stylesheet" />
<link rel="stylesheet" href="~/plugins/datatables/dataTables.bootstrap.css">
<link rel="stylesheet" href="~/plugins/iCheck/all.css">
<!-- Bootstrap 3.3.6 -->
@*<link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">*@
<style>  
 .pagination > .active > a,
    .pagination > .active > span,
    .pagination > .active > a:hover,
    .pagination > .active > span:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span:focus {
        z-index: 3;
        color: #fff;
        cursor: default;
        background-color: black !important;
        border-color: black !important;
    }
    </style> 
<section class="content-header" style="height:41px">
    <h1 class="col-md-9">
        Work From Home
    </h1>
    @*@if (!dateList.Contains(DateTime.Now.Date))
         {*@ 
        <div style="float:right;padding-right:0px" class="col-md-2">
            <button type="button" id="btnAddNewWorkFromHome" class="btn btn-block bg-black" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus"></i> Add New</button>
        </div>
        @*  }*@
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body" id="DataTablebody">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Reason</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (LMS_WebAPP_Domain.WorkFromHomeModel m in Model)
                            {
                                <tr>
                                    <td>@m.FormattedDate</td>
                                    <td>@m.Reason</td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Apply Work From Home</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Date:</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="datepicker" readonly="readonly">
                        </div>
                        <!-- /.input group -->
                    </div>
                    <div class="form-group">
                        <label>Select Reason:</label>
                        <select class="form-control" id="SelectReason">
                            @*<select class="form-control select2" style="width: 100%;" id="ddlLevel">*@
                            <option value="">Select</option>
                            @*</select>*@
                        </select>
                    </div>
                    <div class="form-group" style="display:none" id="divOtherReason">
                        <label>Enter Reason:</label>
                        <input type="text" class="form-control pull-right" id="txtOtherReason">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAddWorkFromHome" style="background-color:#222d32 !important">Add </button>
                <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- bootstrap datepicker -->
<script src="~/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="~/plugins/iCheck/icheck.min.js"></script>
<script src="~/plugins/Toastr/toastr.js"></script>
<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
    var dateList= @Html.Raw(Json.Encode(dateList));;
    $('#exampleModal').on('show.bs.modal', function (event) {
    });
  
    $(document).ready(function()
    {
        GetWorkFromHomeReasonsList();
    });

    function GetWorkFromHomeReasonsList()
    {
        $.ajax({
            cache: false,
            type: 'post',
            url: '/WorkFromHome/GetWorkFromHomeReasonsList',            
            dataType: "json",
            success: function (data) {
                debugger;
                for(var i=0;i<data.workFromHomeReasonsList.length;i++)
                {
                    $("#SelectReason").append($('<option></option>').attr("value", data.workFromHomeReasonsList[i].RefReason).text(data.workFromHomeReasonsList[i].Reason));
                }
            }
        });
    }
    $(document).on('change',"#SelectReason",function(e){
        var reason=$("#SelectReason :selected").html();
        if(reason=="Others")
        {
            $("#divOtherReason").show();
        }
        else {
            $("#divOtherReason").hide();

        }
    })
    function formatDate(date) {
        var mm = date.getMonth() + 1;
        var dd = date.getDate();
        var yyyy = date.getFullYear();
        mm = (mm < 10) ? '0' + mm : mm;
        return mm + "-" + dd + "-" + yyyy;
    }
    var today = (formatDate(new Date()));
    $('#datepicker').val(today);
    var loop = [];
    debugger
    for (i = 0; i < dateList.length; i++) {
        loop.push(convertToJsonDate(dateList[i]));
    }

    $(function () {
        $('#example1').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
        });
    });
    //Add WorkFromHome
    function convertToJsonDate(jsonDate) {
        //var dateFormat = dateTimeFormat;
        if (jsonDate != undefined && jsonDate != null) {
            var regex = /-?\d+/;
            var matches = regex.exec(jsonDate);
            var date = new Date(parseInt(matches[0]));
            var d = new Date(date);
            if (d.getFullYear() < 2000) {
                return "";
            }
            if (!isNaN(d.getDate()) && !isNaN(d.getMonth()) && !isNaN(d.getFullYear())) {
                formattedDate =  ("0" + (d.getMonth() + 1)).slice(-2)+ "-"+d.getDate() + "-" + d.getFullYear();
                return formattedDate;
            }
            else {
                return "";
            }
        }
        else {
            return "";
        }
    }

    $(document).on('click', '#btnAddWorkFromHome ', function (e) {
        var selectedDate= $('#datepicker').val();
        debugger
        if ($.inArray(selectedDate, loop) != -1)
        {
            showMessage("You already applied for work from home on this date.", "2", true);
            return false;        
        }
        if (formValidate() == true) {
                $.ajax({
                    cache: false,
                    type: 'post',
                    url: '/WorkFromHome/AddWorkFromHomes',
                    data: { date: selectedDate, reason: $('#SelectReason').val(),textReason:$("#txtOtherReason").val() },
                    dataType: "json",
                    success: function (data) {
                        $('#exampleModal').modal('hide');
                        //$('#btnAddNewWorkFromHome').hide();
                        loop.push(selectedDate);
                        $('#SelectReason').val("");
                        updateDatatable(data.wfhList, true);
                        showMessage("New WorkFromHome added successfully", "1", true);
                    }
                });
        }
        else {
            showMessage("Fields cannot be empty!!", "2", true);
        }
    }
    );

    $(document).on('click', '#btnClose,.close', function (e) {
        debugger;
        $('#SelectReason').val("");
    });

    //Show error Message
    function showMessage(message, Type, fadeOut) {
        //To clear existing toastr
        toastr.clear();
        //fadeOut = false;
        var position = "bottom-full-width";
        toastr.options.positionClass = 'toast-' + position;
        if (typeof fadeOut !== "undefined" && fadeOut == false) { toastr.options.timeOut = 0; }
        else {
            toastr.options.timeOut = 3000;
        }
        switch (Type) {
            case "1":
                toastr.success(message);
                break;
            case "2":
                toastr.error(message);
                break;
        }
    }

    //Form validate
    function formValidate() {
        debugger;
        if($("#SelectReason :selected").html() == "Others" && $("#txtOtherReason").val()!="")
        {
            return true;
        }
        else if ($('#datepicker').val() != "" && $('#SelectReason').val() != "" && $("#SelectReason :selected").html() != "Others") {
            return true;
        }        
        else { return false; }
    }


    // Edit WorkFromHome
    var Id = 0;
    function updateDatatable(data, fromAdd) {
        debugger;
        $('#DataTablebody').html('');
        var fixedCartItemsHtml = "<table id='example1' class='table table-bordered table-striped'>" + " <thead> <tr>  <th>Date</th><th>Reason</th>" +
                               " </tr></thead><tbody>";

        for (var i = 0; i < data.length; i++) {
            //date
            fixedCartItemsHtml = fixedCartItemsHtml +
                                 "<tr>" +
                                 "<td>" + data[i].FormattedDate +
                                 "</td>";
            //Description
            fixedCartItemsHtml = fixedCartItemsHtml +

                                 "<td>" + data[i].Reason +
                                 "</td></tr>";
        }
        fixedCartItemsHtml = fixedCartItemsHtml + "</tbody></table>";
        $('#DataTablebody').html(fixedCartItemsHtml);

        $('#example1').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
        });
        $('#SelectReason').val("");
    }
</script>

<!-- /.modal -->
<!-- /.content -->
<!-- ./wrapper -->
