<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>

<body>
    <table width="100%">
        <tr>
            <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="left">
                            <img src="cid:company-logo" alt="Infrrd Logo" height="40" width="180" border="0" style="display:block;color:#4c9ac9" align="middle"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <hr color="#cccccc" size="1" />
                        </td>
                    </tr>
                    <tr>
                        <td width="100%" align="left" valign="top">
                            <font style="font-family: Verdana, Geneva, sans-serif; color:#000000; font-size:13px; line-height:21px">Hi {0},</font><br /><br />
                            <font style="font-family: Verdana, Geneva, sans-serif; color:#000000; font-size:13px; line-height:21px"><p style="color:#000000">
                                {1} has applied for leave.Please click the below link to Login to your account to take the necessary action.</p>
                                <p>
                                </p>
                                <p style="color:#000000;margin-bottom:0px">
                                    <b>Leave summary :</b><br />From date : {2}<br />To date : {3}<br />
                                </p><p style="color:#000000;margin-top:0px">
                                    Number of working days : {4}<br />Leave comments : {5}<br /><br />
                                </p>
                            </font>
                        </td>
                        </tr>
                    <tr>
                        <td align="left">
                                    <a style="font-size:11px;font-family:Helvetica,Helvetica neue,Arial,Verdana,sans-serif;font-weight:none;color:#ffffff;text-decoration:none;background-color:#3572b0;border-top:11px solid #3572b0;border-bottom:11px solid #3572b0;border-left:20px solid #3572b0;border-right:20px solid #3572b0;border-radius:5px;display:inline-block;" class="m_-1946940425458929164m_-6517695638500980328mobile-button" shape="rect" href={6} target="_blank">Login Here</a>
                                  </td>
                        </tr>
                    <tr><td>
                        <font style="font-family: Verdana, Geneva, sans-serif; color:#000000; font-size:13px; line-height:21px">
                          <br /><br />
                       Best Regards,<br />
                       Infrrd Leave Management

                     </font></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
